<!DOCTYPE html>
<html>

<head>

</head>

<body>
<form action="a_commissiondetailAuth" method="POST">
	<input type="text" name="start" placeholder="start" required/></br>
	<input type="text" name="end" placeholder="end" required/></br>
	<input type="submit" value=Search /></br>
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
	<table border="1">
	<tr>
		<th>Total</th>
		<th>Amount</th>
	</tr>
	{% if post %}
	<tr>
		<td>{{post.Total}}</td>
		<td>{{post.Amount}}</td>
	</tr>
	{% endif %}
	</table>
</form>
<a href="/a_commission">Go back</a>
</body>
</html>
