<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<script type="text/javascript">
	function setsubmit(){ 
		if(mylink.value == 0) 
			window.location.href="/customer_register"; 
		if(mylink.value == 1) 
			window.location.href="/agent_register"; 
		if(mylink.value == 2) 
			window.location.href="/staff_register"; 
	} 
	</script> 
	<select name="mylink" id="mylink"> 
		<OPTION value="0">Customer</OPTION> 
		<OPTION value="1">Booking Agent</OPTION> 
		<OPTION value="2">Airline Staff</OPTION> 
	</select></br>
	<input type="button" id="btn" value="submit" onclick="setsubmit(this)"/></br>
	<a href="/">Go back</a>
</body>
</html>
