<!DOCTYPE html>
<html>

<head>

</head>

<body>
<form action="s_airplaneAuth" method="POST">
	<input type="text" name="airplane id" placeholder="airplane id" required/></br>
	<input type="text" name="seats" placeholder="seats" required/></br>
	<input type="submit" value=Add /></br>
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
	<table border="1">
	<tr>
		<th>airline_name</th>
		<th>airplane_id</th>
	</tr>
	{% for dic in post %}
	<tr>
		<td>{{dic.airline_name}}</td>
		<td>{{dic.airplane_id}}</td>
	</tr>
	{% endfor %}
	</table>
</form>
<a href="/staff_home">Go back</a>
</body>
</html>
