<!DOCTYPE html>
<html>

<head>

</head>
<body>
{% if not message %}
    <a href="/s_view">View My Flights</a></br>
	<a href="/s_cflight">Create New Flights</a></br>
	<a href="/s_change">Create Status of Flights</a></br>
	<a href="/s_airplane">Add Airplane in the System</a></br>
	<a href="/s_airport">Add New Airport in the System</a></br>
	<a href="/s_agent">View all the Booking Agents</a></br>
	<a href="/s_fcustomer">View Frequent Customer</a></br>
	<a href="/s_report">View Reports</a></br>
	<a href="/s_compare">Comparison of Revenue Earned</a></br>
	<a href="/s_destination">View Top Destinations</a></br>
{% endif %}


<a href="/staff_logout">Logout</a>

</body>


</html>
