<html>
<head>
</head>
<body>
<form action="/statusAuth" method = "Post">
	<input type="text" name = "flight number" placeholder="fligh number" required/></br>
	<input list="time" name = "time" placeholder="time" required/></br>
	<datalist id ="time">
		<option value = "arrival">
		<option value = "departure">
	</datalist>
	<input type="text" name = "date" placeholder = "date" required/></br>
	<input type="submit" value = Search />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
<table border="1">
	<tr>
		<th>status</th>
	</tr>
	{% for dic in post %}
	<tr>
		<td>{{dic.status}}</td>
	</tr>
	{% endfor %}
	</table>
<a href="/info">Go back</a>
</body>
</html>